<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/aperez/DO NOT BACKUP/TEMP/PWM_Circuit01/PWM_02.mov</key>
	<data>
	Ym9vaxQDAAAAAAQQMAAAAAFFiww4T7h3GMrKUkzOvUdy4VSCAdAf/BgeLU9KA4mKEAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGFwZXJlegAADQAAAAEB
	AABETyBOT1QgQkFDS1VQAAAABAAAAAEBAABURU1QDQAAAAEBAABQV01fQ2lyY3VpdDAx
	AAAACgAAAAEBAABQV01fMDIubW92AAAYAAAAAQYAABAAAAAgAAAAMAAAAEgAAABUAAAA
	bAAAAAgAAAAEAwAAOFMAAAAAAAAIAAAABAMAAPaaBQAAAAAACAAAAAQDAADk37AAAAAA
	AAgAAAAEAwAAVYG4AAAAAAAIAAAABAMAALOnnggAAAAACAAAAAQDAABEnJ8IAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBwyzOIMktORgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAg
	aHQAAAAIAAAAAAQAAEHCHe+YRKjhJAAAAAEBAAA2RDA5MzM1Mi1CRjVBLTRGNkEtQTIy
	RC0yQzM5QkY3RDE3OEMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA
	AAEAAAAAAAAQEAAAMAEAAAAAAABAEAAAIAEAAAAAAAACIAAA/AEAAAAAAAAFIAAAbAEA
	AAAAAAAQIAAAfAEAAAAAAAARIAAAsAEAAAAAAAASIAAAkAEAAAAAAAATIAAAoAEAAAAA
	AAAgIAAA3AEAAAAAAAAwIAAACAIAAAAAAAABwAAAUAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
