<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/aperez/DO NOT BACKUP/TEMP/Analog-Digital.png</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAALe6gflpCFl/Jk0LqPyqpW2HjZxcQo1tKHq3OfBqMF7A6AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGFwZXJlegAADQAAAAEB
	AABETyBOT1QgQkFDS1VQAAAABAAAAAEBAABURU1QEgAAAAEBAABBbmFsb2ctRGlnaXRh
	bC5wbmcAABQAAAABBgAAEAAAACAAAAAwAAAASAAAAFQAAAAIAAAABAMAADhTAAAAAAAA
	CAAAAAQDAAD2mgUAAAAAAAgAAAAEAwAA5N+wAAAAAAAIAAAABAMAAFWBuAAAAAAACAAA
	AAQDAADtxMYJAAAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHD
	NSTQ9gcrGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAA
	AAAABAAAAAMDAAD2AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcId75hEqOEkAAAAAQEAADZEMDkzMzUyLUJG
	NUEtNEY2QS1BMjJELTJDMzlCRjdEMTc4QxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABw
	AAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADUAQAA
	AAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAAABEgAACIAQAAAAAAABIgAABoAQAAAAAA
	ABMgAAB4AQAAAAAAACAgAAC0AQAAAAAAADAgAADgAQAAAAAAAAHAAAAoAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAA4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
